body{
background-color: burlywood;
}

.apply-box table{
    margin-left: 250px;
    margin-top: 150px;
    text-align: center;
    box-shadow: 14px 12px 30px black;
    background-color: antiquewhite;
    width: 750px;
    height: 530px;
    
}


.apply-box table{

    /* width: 1000px; */
}